<header>
    <div class="container">
        <div class="header-title">
            <a href="#">掲示板アプリ</a>
        </div>

        <div class="header-nav">
            <nav>
                <li>ログイン</li>
                <li>サインアップ</li>
            
            </nav>
        </div>
    </div>
</header>